@using Microsoft.AspNet.Identity
@{Boolean IsUserAuthenticated;}
@{string UserEmail;}'
<script type="text/javascript">
    function UserLogOut() {
        localStorage.setItem("UserEmail", "");
        window.location.href = '@Url.Action("Login", "Account")';
    }
    var email = localStorage.getItem("UserEmail");
    if (email != null)
    {
        @{IsUserAuthenticated = true;}
        @{UserEmail = "SAN";}
    }
    else
    {
        @{IsUserAuthenticated = false;}
    }
</script>
@if (IsUserAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Welcome " + @UserEmail + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><a onclick="UserLogOut()" style="cursor: pointer;">Log out</a></li>
    </ul>
}
