<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://proyelenguajes-001-site1.gtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://proyelenguajes-001-site1.gtempurl.com:8172/msdeploy.axd?site=proyelenguajes-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>proyelenguajes-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\proyelenguajes-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB_Project" Order="1" Enabled="False">
          <Destination Path="Data Source=sql7003.site4now.net;Persist Security Info=True;User ID=DB_A3DC31_ProyectoLenguajes_admin;Password=Lenguajes1234;Application Name=EntityFramework" Name="Data Source=sql7003.site4now.net;Persist Security Info=True;User ID=DB_A3DC31_ProyectoLenguajes_admin;Password=Lenguajes1234;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sql7003.site4now.net;Persist Security Info=True;User ID=DB_A3DC31_ProyectoLenguajes_admin;Password=Lenguajes1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_Project_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DB_Project_Model.csdl|res://*/DB_Project_Model.ssdl|res://*/DB_Project_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql7003.site4now.net;persist security info=True;user id=DB_A3DC31_ProyectoLenguajes_admin;password=Lenguajes1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_Project-Web.config Connection String">
      <ParameterValue>metadata=res://*/DB_Project_Model.csdl|res://*/DB_Project_Model.ssdl|res://*/DB_Project_Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql7003.site4now.net;Persist Security Info=True;User ID=DB_A3DC31_ProyectoLenguajes_admin;Password=Lenguajes1234;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>