@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
    padding-left: 0;    
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* User Session */
div.current-user {
	width: 100%;
    border-bottom: 1px solid #b8c7ce;
	padding-bottom: 10px;
	display: inline-block;
}
.user-image img {
	float: left;
    margin: 10px 0px 0px 15px;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
}
.user-data {
    float: left;
    text-align: left;
    margin: 10px 0 0 12px;
}
.session-indicator {
	width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
	background-color: #8ad919;
}
.user-name {
	font-size: 14px;
	color: #fff;
}
.user-status .session-status {
	text-transform: uppercase;
	font-size: 10px;
	color: #fff;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #367fa9;
}

.top-nav>.open>.dropdown-menu {
    float: left;
	width: 200px;
    margin-top: 0;
    position: absolute;
    background-color: #222d32;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
	color: #b8c7ce;
}
.top-nav>.open>.dropdown-menu>li>a:hover {
	color: #fff;
	background-color: #1a242f;
}

/* Side Navigation */
.dashboard-navbar {
	background-color: #3c8dbc !important;
}
.dashboard-navbar ul {
	background-color: #222d32;
}

.side-nav>li>a,
.side-nav>li>ul>li>a {
	color: #b8c7ce !important;
}

.side-nav>li>a:hover,
.side-nav>li>ul>li>a:hover {
	color: #fff !important;
}
.mobile-navbar {
	background-color: #3c8dbc;
}
.mobile-navbar .mobile-button-menu {
	border: 2px solid #222d32;
	
}
.mobile-navbar .mobile-button-menu span {
	background-color: #000;
}
.mobile-navbar .mobile-button-menu:hover {
	background-color: #1a242f;
}
.mobile-navbar-right {
	background-color: #3c8dbc;
}
@media(min-width:768px) {	
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #fff;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-header .navbar-brand {
	color: #fff;
	height: 60px;
	font-size: 20px;
    font-weight: 500;
	padding-top: 18px;
	text-transform: uppercase;
}

.navbar-header .navbar-brand span {
	color: #000;
}

.boton {
    background-color: dodgerblue;
    width: 90px;
    font-weight: bold;
}

.labels {
  font-weight: bold;
}







