@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>UCR Restaurant Contact Page</h3>

<address>
    Costa Rica<br />
    Alajuela, SR , UCR Sede de Occidente<br />
    <abbr title="Phone">P:</abbr>
    2453-00-00
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">ucr-restaurant@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ucr-restaurant-marketing@example.com</a>
</address>