@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UCR Restaurant</h1>
    <p class="lead">Welcome to the best Restaurant of Costa Rica</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">See more &raquo;</a></p>
</div>
