<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ProyectoLenguajes_Admin" connectionString="metadata=res://*/ProyectoLenguajes.csdl|res://*/ProyectoLenguajes.ssdl|res://*/ProyectoLenguajes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql7003.site4now.net;persist security info=True;user id=DB_A3DC31_ProyectoLenguajes_admin;password=Lenguajes1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_Project" connectionString="metadata=res://*/DB_Project_Model.csdl|res://*/DB_Project_Model.ssdl|res://*/DB_Project_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql7003.site4now.net;persist security info=True;user id=DB_A3DC31_ProyectoLenguajes_admin;password=Lenguajes1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>