@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
span.input-group-addon span {
    width: 15px;
}
.correct {
    color: green;
    font-weight: bold;
    background-color: #e6fff2;
}
